# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Virtual Environments
.venv/
venv/
env/
pyvenv.cfg

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# Node / Frontend
node_modules/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.code-workspace
